.notification {
    position: fixed;
    left: 16px;
    bottom: 16px;
    width: 280px;
    color: #fff;
    background: rgba(227, 66, 153, 0.5);
    padding: 16px 24px 16px 16px;
    border: 1px solid #000;
    border-radius: 16px;
    z-index: 500;
    transition: 0.3s ease;
    & h2 {
        font-size: 24px;
        font-weight: 400;
    }
}
.cross {
    position: absolute;
    right: 16px;
}
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
@media screen and (max-width: 1000px) {
    .notification {
        display: none;
    }
}
